<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library_alpha">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="대전대학교 도서관"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.SignUp"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".readingRoom.ReadingRoomList" />
        <activity android:name=".user.MyInfo" />
        <activity android:name=".readingRoom.ReadingRoom1" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>